*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Plus Jakarta Sans', Arial, Helvetica, sans-serif;
  background: var(--theme-gradient);
  min-height: 100vh;
  background-attachment: fixed;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

p,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: currentColor;
}

address {
  font-style: normal;
}

.container {
  max-width: 1200px;
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto;
}
